/* Header section */

h1 {
    font-family: Poppins, sans-serif;
    float: left;
    font-size: 23px;
    color: #20292f;
    padding-top: 27px;
    font-weight: 600;
    padding-bottom: 0;
    transition: padding-top 0.3s linear;
}

.main-navigation__items {
    transition: all .4s ease-in-out;
}
