/* Header section */
/*
h1 {
    font-family: Poppins, sans-serif;
    float: left;
    font-size: 23px;
    color: #20292f;
    padding-top: 27px;
    font-weight: 600;
    padding-bottom: 0;
    transition: padding-top 0.3s linear;
}

.main-navigation__items {
    transition: all .4s ease-in-out;
}
*/

.main-header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 16px rgb(0 0 0 / 10%);
    z-index: 10;
}

.main-header__brand {
    display: inline-block;
    /*vertical-align: middle;*/
}

.main-header__brand a {
    font: 23px Poppins, sans-serif;
    color: #20292f;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 200px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}
 .main-navigation__item {
    display: inline-block;
    padding: 10px;
 }

 .main-navigation ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
 }

.main-navigation__item a {
    color: #20292f;
    text-decoration: none;
    font: 15px Poppins, Helvetica, sans-serif;
    font-weight: 500;
}

.main-navigation__item a:hover {
    color: red;
}
