/* Core styles */
.body {
    font-style: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/*Main header styles */

.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    width: 64px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation__item {
    display: inline-block;
    padding: 10px;
}

.main-navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.main-navigation__item a:hover {
    color: goldenrod;
}

/*Main section */

.main-section {
    padding: 100px 30px;
}

.main-section > div {
    width: 50%;
}
/*
.main-section__welcome {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}

.to-uppercase {
    text-transform: uppercase;
}

.main-section__introduction {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364E;
}

.main-section__profession {
    color: #05364E;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
*/
.main-section__action {

}

.main-section__image {
    text-align: right;
}

/* Footer styles
.footer {
    background-color: black;
    color: white;
}
*/