/*Main section */
.main-banner {
    background: url(../images/main-banner.png) no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
    box-sizing: border-box;
}
.main-section {
    padding: 7.5rem 1.87rem; /* 1) 120/16=7.5rem 2) 30/16=1.87rem*/
}

.main-section > div {
    width: 50%; 
    float: left;
}

.main-section__image {
    text-align: right;
}

.main-section__welcome {
    font-size: 1rem; /* 16/16=1rem */
    font-weight: 400;
    margin-bottom: 1.25rem; /* 20/16=1.25rem */
    letter-spacing: 2px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 1.25rem; /* 20/16=1.25rem */
    font-size: 3.75rem; /* 60/16=3.75rem */
    font-weight: 500;
    margin-bottom: 1.25rem; /* 20/16=1.25rem */
    color: purple;
}

.main-section__position {
    color: black;
    font-size: 1.5rem; /* 24/16=1.5rem */
    font-weight: 300;
    margin-bottom: 1.25rem; /* 20/16=1.25rem */
}

.main-section__social-networks a {
    color: #8fa1aa;
    font-size: 1.25rem; /* 20/16=1.25rem */
    display: inline-block;
    margin-right: 1rem; /* 16/16=1rem */
    cursor: pointer;
}

.main-section__social-networks a:hover i {
    color: darkblue;
}

.main-section__action {
    margin-top: 1.87rem; /* 30/16=1.87rem*/
}

/*Statistics */

.statistics {
    padding-top: 6.25rem; /* 100/16=6.25rem */
}

.statistics__item {
    display: inline-block;
    width: 150px;
    background-color: #F8FAFF;
    text-align: center;
    padding: 0.32rem 0.625rem; /* 1) 5/16=0.32rem 2) 10/16=0.625rem */
    margin-right: 1.25rem; /* 20/16=1.25rem */
}

.statistics__number {
    font-size: 1.69rem; /* 27/16=1.69rem */
    margin-bottom: 0.32rem; /* 5/16=0.32rem */
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics__title {
    font-size: 1rem; 
    color: #797979;
    font-weight: 300;
}

/* About Me */

.about-me {
    padding: 6.25rem 0; /* 100/16=6.25rem */
}

.about-me > div {
    width: 50%;
    float: left;
}

.about-me__image img {
    width: 90%;
}

.about-me__description {
    font-size: 0.87rem; /* 14/16=0.87rem */
    font-weight: 300;
    color: #797979;
    line-height: 1.69rem; /* qatorlar orasidagi intervalni o'zgartirish */
}

.about-me__action {
    margin-top: 2.5rem; /* 40/16=2.5rem */
}

/* Services section styles */

.services {
    padding-top: 6.25rem;
}

.service-card {
    display: inline-block;
    width: 30%;
    padding: 3.75rem 1.87rem; /* 1) 60/16=3.75rem 2) 30/16=1.87rem */
    background-color: #F8FAFF;
    margin-right: 3%; 
    text-align: center;
    box-sizing: border-box;
    transition: all 0.4s ease 0s;
}

.service-card__title {
    color: #05364D;
    font-size: 1.25rem; /* 20/16=1.25rem */
    font-weight: 500;
    text-transform: uppercase;
}

.service-card__description {
    font-size: 0.8rem;
    line-height: 1.68rem; 
    font-weight: 300;
    color: #797979
}

.service-card__link {
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364D;
    text-decoration: none; /* link ostidagi chiziqni olib tashlaydi */
    cursor: pointer;
}

.service-card:hover {
    background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description,
.service-card:hover .service-card__link {
    color: white;
}


/* My clients section styles */

.clients {
    padding-top: 6.25rem;
}

.client-item > div {
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.client-item__info {
    padding-top: 3.12rem;
    padding-left: 3.12rem;
}

.client-item__image img {
    height: 350px;
    width: 350px;
    border-radius: 100%;
}

.client-item__fullname {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.client-item__position {
    font-size: 0.87rem;
    font-weight: 300;
    color: #5d6d75;
}

.client-item__review {
    color: #888;
    font-size: 0.87rem;
    line-height: 1.68rem; /* qatorlar orasidagi masofa */
    font-weight: 300;
}

.client-item__rate {
    color: #FFD804;
}

/* Portfolio */
.portfolio {
    padding-top: 6.25rem;
}

.portfolio-filters {
    list-style: none; /* nuqtalarni yo'qotadi*/
    padding-left: 0;
    margin-top: 3.12rem;
}

.portfolio-filters li {
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 0.81rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #05364d;
    cursor: pointer;
}

.portfolio-filters li:hover,
.portfolio-filters li.active {
    color: darkblue;
}

.portfolio-items {
    position: relative;
    margin-top: 3.125rem;
}

.portfolio-item {
    position: relative;  
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 0.625rem;
    box-sizing: border-box;  
}

.portfolio-item__image {
    width: 100%;
}

.portfolio-item__overlay {
    /*-webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: olivedrab;
    visibility: hidden;
    z-index: 1;
    transition: all 0.4s ease 0s;
}

.portfolio-item__info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    text-decoration: none;
    visibility: hidden;
    z-index: 1;    
}

.portfolio-item__info a {
    color: white;
    text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay {
    visibility: visible;
    top: 1.25rem;
    left: 1.25rem;
}

.portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    bottom: 1.5rem;
    left: 3.75rem;
}

.portfolio-item-1 {
    padding-left: 0;
}

.portfolio-item-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio-item-3 {
    position: absolute;
    top: 322px;
    right: 0;
}

.portfolio-item-3 img {
    height: 546px;
}

/* Blog section styles*/
.blog {
    padding-top: 6.25rem;
}

.blog-items {
    margin-top: 3.12rem;
}

.blog-item {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}

.blog-item:hover {
    box-shadow: 0px 10px 20px rgba(5,54,77,0.1);
}

.blog-item:hover .blog-item__info {
    background-color: white;
}

.blog-item__image_img {
    width: 100%;
}

.blog-item__info {
    background-color: #F8FAFF;
    padding: 1.87rem;
    color: #797979;
}

.blog-item__main-info span {
    font-size: 0.87rem;
    margin-right: 1.87rem;
    font-weight: lighter;
}

.blog-item__info i {
    margin-right: 0.31rem;
}

.blog-item__title {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.94rem;
    color: #05364d;
    font-weight: 700;
}

.blog-item__description {
    line-height: 1.68rem;
    font-weight: lighter;
    font-size: 0.94rem;
}

.blog-item__learn-more {
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
}

.blog-item__learn-more:hover {
    color: #ed239f;
    cursor: pointer;
}

/* Partners section styles */
.partners {
    padding-top: 6.25rem;
}

.partner {
    display: inline-block;
    padding: 0 1.87rem;
}

@media only screen and (max-width: 991px) {
    /* Main section */
    .main-section img {
        display: none;
    }

    /* Statistics section */
    .statistics {
        padding-top: 1rem;
        text-align: center;
    }

    /* About me section */
    .about-me {
        padding: 1.5rem 0;
    }
    .about-me > div {
        width: 100%;
    }
    .about-me__image img {
        display: none;
    }

    /* Services section */
    .services {
        padding: 1.5rem 0;
    }
    .service-card {
        display: inline-block;
        width: 30%;
        padding: 3.75rem 1.87rem;
        background-color: #F8FAFF;
        margin-right: 3%;
        text-align: center;
        box-sizing: border-box;
        transition: all 0.4s ease 0s;
    }

    /* Clients section */
    .clients {
        padding: 1.5rem 0;
    }
    .client-item > div {
        width: 100%;
        float: none;
    }

    /* Portfolio section */
    .portfolio-item-3 img {
        height: 300px;
    }

    /* Blog section */
    .blog {
        padding: 1.5rem 0;
    }
    .blog-item {
        width: 45%;
        margin-right: 35px;        
    }
    
    /* Partners section */
    .partners {
        padding: 1.5rem 0;
    }
    .partner {
        display: block;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    /* Main section */
    .main-banner {
        background: none;
        min-height: auto;
    }
    .main-section > div {
        width: 100%;
    }
    
    .main-section__action {
        display: none;
    }
    .main-section__introduction {
        font-size: 3rem;
    }

    /* Statistics section */
    .statistics__item {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        box-sizing: border-box;
    }

    /* Services section */
    .services {
        padding: 1.5rem 0;
    }
    .service-card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* Portfolio section */
    .portfolio {
        padding: 1.5rem 0;
    }
    .portfolio-item {
        width: 100%;
    }
    .portfolio-item-2,
    .portfolio-item-3  {
        position: static;
    }

    /* Blog section */
    .blog-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}