/* Core styles */
.body {
    margin: 0;
    font-style: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.to-uppercase {
    text-transform: uppercase;   
}

.clearfix {
    clear: both;
}

.section-subtitle {
    letter-spacing: 2px; /* fontlar orasidagi masofa */
    font-weight: 500;
    margin-bottom: 0.625rem;
    color: #797979;
    text-transform: uppercase;
}

.section-title {
    margin-top: 0.32rem; /* 5 / 16 = 0.32rem */
    font-size: 2.62rem; /* 42 / 16 = 2.62 */
    font-weight: 700;
    text-transform: capitalize;
    color: purple;
}

.button {
    border: none;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    color: white;
    font-weight: 500;
    font-size: 0.87rem; /* 14 / 16 = 0.87rem */
    padding: 1.26rem 2.5rem; /* 1) 20/16=1.26rem 2) 40/16=2.5rem */
    cursor: pointer; /* Sichqoncha shu belgi ustiga olib borilganida kursor shakli o'zgaradi */
    border-radius: 5px;
    background-size: 200% auto;
}

.button:hover {
    background: linear-gradient(to right, #1345e6 0%, #ed239f 0%, #1345e6 100%);
    text-decoration: none;
}

.blur-line {
    position: relative;
    display: inline-block;
    margin-left: 0.32rem; /* 5/16=0.32rem */
    width: 80px;
    height: 4px;
    background: rgba(237,35,159,0.6);
    filter: blur(4px);
    border-radius: 4px;
    top: -2px;
}


/*Main header styles */

.main-header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 16px rgb(0 0 0 / 10%);
    z-index: 10;
}

.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    width: 64px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation__item {
    display: inline-block;
    padding: 0.625rem; /* 10/16=0.625rem */
}

.main-navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem; /* 12/16=0.75rem */
    font-weight: 500;
}

.main-navigation__item a:hover {
    color: goldenrod;
}

.main-navigation__item.active a {
    color: goldenrod;
}

/*Footer section styles*/
.footer {
    padding: 100px 0;
    margin-top: 50px;
    background-color: #021017;
    text-align: center;
}

.footer__brand img {
    width: 128px;
    background-color: #ffffff;
    border-radius: 100px;
}


.footer__navigation-items {
    margin-bottom: 50px;
}

.footer__navigation-item {
    display: inline-block;
    padding: 0 10px;
}

.footer__navigation-item a {
    color: white;
    text-decoration: none;
}

.footer__socials {
    list-style: none;
}

.footer__social {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #ffffff;
    border-radius: 36px;
    color: #05364d;
    font-size: 16px;
    margin-right: 12px;
}

.footer__social a {
    color: #021017;
}

.footer__social:hover {
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.footer__social:hover i {
    color: white;
}

.footer__text {
    color: #797979;
}

@media only screen and (max-width: 767px) {
    .container {
        width: 96%;
    }

    .main-navigation {
        display: none;
    }
}

