li[data-type=control_head] {
    list-style: none;
}

div.header-large {
    margin: 0 -38px;
    padding: 2.5em 52px;
}

.header-large {
    border-color: #d7d8e1;
}

.form-header-group {
    border-bottom: 1px solid;
}

div {
    display: block;
}

.form-label .form-label-auto {
    display: block;
    float: none;
    text-align: left;
    width: 100%;
}

.form-label-top {
    width: 100%;
    margin-left: 2px;
    margin-bottom: 14px;
}

.form-label {
    display: inline-block;
    font-weight: 500;
    word-break: break-word;
}

label {
    cursor: default;
}

/*
div.header-large {
    margin: 0 -38px;
    padding: 2.5em 52px;
}

body {
    font-family: sans-serif;
}

.header-large {
    border-color: #d7d8e1;
}

.form-header-group {
    border-bottom: 1px solid;
    padding: 14px;
    margin-top: 1.25em;
    margin-bottom: 0.75em;
}

.form-container {
    padding: 14px;
}

.form-fullname {
    margin-top: 1.25em;
    margin-bottom: 0.75em;
}

.yulduzcha {
    color: red;
}

.form-textbox {
    font-size: 1em;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    display: inline;
    font-family: inherit;
    padding: 10px 10px;
    margin-right: 5px;
}

.form-textbox:hover {
    border-width: 2px;
    border-color: #2e69ff;
    box-shadow: 0 0 0 3px rgb(46, 105, 255, .25);
}
/*
.form-sub-label {
    color: #464d5f;
    font-size: .75em;
    margin-top: 11px;
    margin-left: 2px;
    word-break: break-word;
}
*/
.form-sub-label {
    padding: 10px 70px;
    display: inline;
    color: #464d5f;
    font-size: .75em;
    margin-top: 11px;
    word-break: break-word;
}

.lastname {
    margin-left: 20px;
}

